EasyBooking/Connected Services/RyanairDataCollectorService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EasyBooking.Models.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EasyBooking.Models.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFlightS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightS" nillable="true" type="tns:FlightS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlightS" nillable="true" type="tns:ArrayOfFlightS" />
  <xs:complexType name="FlightS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivalCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartureCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlightCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SeatsEconomyclass" type="xs:int" />
      <xs:element minOccurs="0" name="SeatsFirstclass" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightS" nillable="true" type="tns:FlightS" />
</xs:schema>