EasyBooking/Connected Services/RyanairDataCollectorService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CRUDService/RyanairDataCollector/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EasyBooking.Models.ViewModels" />
  <xs:element name="GetFromRyanair">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArrivalDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fromCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFromRyanairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EasyBooking.Models.ViewModels" minOccurs="0" name="GetFromRyanairResult" nillable="true" type="q1:ArrayOfFlightS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>